* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  background-color: #1F2937;
  padding-bottom: 80px;
}

nav {
  margin: 0 20%;
  margin-bottom: 80px;
  padding-top: 15px;
  display: flex;
  gap: 15px;
}

.logo {
  font-weight: 900;
  font-size: 24px;
  color: #F9FAF8;
  margin-right: auto;
  flex: none
}

nav a {
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
}

.hero {
  display: flex;
  margin: 0 20%;
  gap: 15px;
  align-items: flex-start;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-right: auto;
  align-items: flex-start;
}

.hero-text div:nth-of-type(1) {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
}

.hero-text div:nth-of-type(2) {
  font-size: 18px;
  color: #E5E7EB;
}

button {
  background-color: #3882F6;
  padding: 8px 30px;
  border: none;
  border-radius: 10px;
  color: #F9FAF8;
  font-weight: 700;
  font-size: 15px;
}

.hero img {
  width: 400px;
}

.selection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
  gap: 20px;
}

.info {
  font-size: 36px;
  font-weight: 700;
  color: #1F2937;
  width: 100%;
  text-align: center;
}

.selection img {
  width: 200px;
  border: 3px solid #3882F6;
  border-radius: 20px;
}

.select {
  width: 200px;
}

.quote {
  display: flex;
  background-color: #E5E7EB;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.quote div {
  width: 860px;
}

.quote p:nth-of-type(2) {
  text-align: right;
}

.action {
  display: flex;
  background-color: #3882F6;
  margin: 50px 20%;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 50px 120px;
  border-radius: 10px;

}

.action button {
  border: 1px solid white;
}

.action-right div:nth-of-type(1) {
  font-weight: 700;
  font-size: 20px;
}

footer {
  background-color: #1F2937;
  text-align: center;
  padding: 20px;
  color: white;
}